ul {
  padding: 1em;
  list-style-type: none;
  display: column;
}

li {
  border: 2px solid grey;
  background-color: black;
}

p {
  background-color: rgb(75, 73, 73);
  color: white;
  padding: 1em;
  margin: 0;
}

button {
  width: 10%;
  padding: 2em;
  border: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background-color: rgb(75, 73, 73);
  color: white;
}

button:focus {
  outline: none;
}